<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="display-4 pt-5 mt-5">Saved Articles</h1>
        <p class="lead">Your Saved Articles</p>
    </div>
</div>

<div class="container">
    {{#each articles}}
    <div class="card m-3">
        <div class="card-header">
            <a href="{{link}}" target="_blank" class="title">{{title}}</a>
            <a href="/delete" class="btn btn-danger delete-btn" data-id="{{_id}}">Delete From Saved</a>
            <a href="/note" class="btn btn-warning note-btn" data-id="{{_id}}">Article Notes</a>
        </div>
        <div class="card-body">
            <p class="card-text">{{summary}}</p>
        </div>
    </div>
    {{/each}}
</div>